#fly
{
  position:fixed;
  bottom:0;
  left:0;
  padding:5px;
  width:50px;
  margin:0;
  height:50px;
}
i{
  vertical-align: middle;
}
.fly_btn
{
  position:absolute;
  width: 50px;
  height:50px;
  font-size: 1.7rem;
  text-align:center;
  line-height:50px;
  background-color: #E84F3E;
  color:#fff;
  border-radius:50%;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
  z-index:10;
  user-select: none;
}
.fly_btn i:nth-child(1),#fly.open .fly_btn i:nth-child(2){
  display:inline;
}
.fly_btn i:nth-child(2),#fly.open .fly_btn i:nth-child(1){
  display:none;
}
::-webkit-scrollbar {
    display: none;
}
.a_ib
{
  position:absolute;
  white-space: nowrap;
  overflow-x: auto;
  padding-left:50px;
  width: 0px;
  height: 50px;
  background-color:#101010;
  border-radius:50px;
  box-shadow: 0px 5px 20px 	#101010;
  z-index:5;
  transition: all .2s ease-in-out;
}
.a_i{
  display:inline-table;
  width: 46px;
  height:46px;
  line-height:46px;
  margin-left:4px;
  margin-top:2px;
  font-size: 1.7rem;
  text-align:center;
  background-color: #E84F3E;
  color:#fff;
  border-radius:50%;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
}
#fly.open .a_ib
{
  width:calc(100vw - 62px);
}
.a_ib .a_item{
  opacity:0;
}
#fly.open .a_ib .a_item
{
  opacity:1;
  transition-delay:.45s;
}

#fs_action.fullscreen i:nth-child(2),#fs_action i:nth-child(1){
  display:inline;
}
#fs_action.fullscreen i:nth-child(1),#fs_action i:nth-child(2){
  display:none;
}
