html,
[data-theme='light'] {
    --black: #060609;
    --white: #f2f4f7;
    --green: #2ECC40;
    --blue: #1f7da6;
    --purple:#663fa6;
    --red: #FF4132;
    --orange: #FF851A;
    --yellow: #ffcd36;
    --primary: var(--purple);
    --secondary: #536390;
    --txt: #14191f;
    --txt-r: var(--white);
    --bg: #f2f4f7;
    --bg2: #dde2ea;
    --bg3: #cfd6e1;
    --bg-btn: var(--primary);
    --bg-btn-hover: inset 0 0 100px 100px #ffffff20;
    --txt-btn: var(--white);
    --brd-btn: var(--primary);
    --bg-nav: var(--bg);
    --bg-nav-hover: var(--bg2);
    --bb-nav: var(--primary);
    --shadow-aside: none;
    --border-c: #C4CDD5;
    --border-c2: #a8afb6;
    --shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    --radius: .4rem;
    --rv: 6;
    --bottom: 20px;
    --left:20px;
}

[data-theme="dark"] {
    --black: #060609;
    --white: #f2f4f7;
    --blue: #2eabe1;
    --purple: #D65DB1;
    --green: #67e5a8;
    --red: #ff564d;
    --orange: #ff9f4d;
    --yellow: #ffd24d;
    --txt: #f2f4f7;
    --txt-r: #14191f;
    --txt-btn: var(--black);
    --bg3: #2c3844;
    --bg2: #242e37;
    --bg: #14191f;
    --bg-nav: var(--bg);
    --bg-nav-hover: var(--bg2);
    --shadow: none;
}

[data-theme="light"] .light-icon,
[data-theme="dark"] .dark-icon {
    display: block !important;
}

.theme-icon {
    display: none;
}

.theme-icon>svg {
    fill: var(--txt);
}
._icon {
    display: inline-block;
    height: 1.3rem;
    width: 1.3rem;
    fill: currentColor;
    margin: 0 auto;
  }
/* ---------------- Basic resets and improvements --------------- */
*,
*:after,
*:before {
    box-sizing: border-box;
    border-spacing: 0;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 13pt;
    scroll-behavior: smooth;
    color: var(--txt);
    background: var(--bg);
}

body,
html {
    margin: 0;
    padding: 0;
}

hr {
    border: 0;
    border-top: 2px solid var(--border-c);
}

main {
    margin: auto;
    max-width: 450px;
    width: 100%;
    padding: 1rem;
    padding-top: 4rem;
    overflow-x: hidden;
}

/* ------------------ Footer ------------------ */
footer {
    text-align: center;
    padding: 1rem 0;
}

/* ------------------ Navbar ------------------ */
header {
    width: 100%;
    z-index: 1;
    padding: .5rem;
}

header.fixed {
    position: fixed;
    top: 0;
}

nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background-color: var(--bg-nav);
    width: 100%;
    max-width: 60rem;
    margin: auto;
    z-index: 1;
    border-radius: var(--radius);
    border-bottom: 1px solid var(--bb-nav);
    padding: .4rem;
    box-shadow: var(--shadow);
}

nav * {
    margin: 0;
    padding: 0;
}

nav>ul {
    width: auto;
    list-style: none;
    display: flex;
    flex-flow: nowrap row;
    align-items: center;
    justify-content: flex-end;
    gap: .5rem;
    overflow: unset;
}

nav>div {
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: space-between;
}

nav ul li,
nav li>* {
    display: flex;
    align-items: center;
    text-align: center;
}

nav li>* {
    color: var(--txt);
    text-decoration: none;
    padding: .4rem;
    border-radius: var(--radius);
    transition: background .4s linear;
}

nav li>a:hover,
nav li>div:hover {
    color: var(--primary);
    background: var(--bg-nav-hover);
}

nav svg {
    display: block;
    height: 1.4rem;
    width: 1.4rem;
    fill: currentColor;
    margin: 0 auto;
    max-height: 1.7rem;
}

nav li>a:hover>svg,
nav li>div:hover>svg {
    fill: var(--primary);
}

nav>div>a>svg {
    max-height: 1.7rem;
}

nav>div>a {
    display: flex;
    align-items: center;
    font-size: 1.7rem;
}

/* ------------------- Links ------------------ */
a {
    color: var(--primary);
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: var(--primary);
    border-color: var(--primary);
}

/* ------------------ Buttons ----------------- */
button,
[class^=btn] {
  display: inline-flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: 0px;
  color: var(--txt-btn);
  background-color: var(--bg-btn);
  outline: none;
  padding: 0.6rem;
  font-size: inherit;
  cursor: pointer;
  border-radius: var(--radius);
  margin: 0.5rem;
  height: 2.6rem;
  transition: all 0.2s ease-in-out;
  -webkit-tap-highlight-color: transparent;
}
button:focus,
[class^=btn]:focus {
  outline: none;
}
button.mw-auto,
[class^=btn].mw-auto {
  min-width: unset;
}
button[disabled],
[class^=btn][disabled] {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}
button:not([disabled]):hover,
[class^=btn]:not([disabled]):hover {
  box-shadow: var(--bg-btn-hover);
}
button.ghost,
[class^=btn].ghost {
  background: transparent;
  color: var(--txt);
  border: 2px solid var(--bg-btn);
}
button.ghost:hover,
[class^=btn].ghost:hover {
  background: var(--bg-btn);
  color: var(--txt-btn) !important;
  box-shadow: none;
}
button > svg,
[class^=btn] > svg {
  display: block;
  height: 1.3rem;
  width: 1.3rem;
  fill: currentColor;
  max-height: 1.7rem;
}

.btn-transparent {
  --bg-btn: transparent;
  --txt-btn: var(--txt-r);
}

.btn-cl2 {
  --bg-btn: var(--txt-r);
  --txt-btn: var(--txt);
}

.btn-bg2 {
  --bg-btn: var(--bg2);
  --txt-btn: var(--txt);
}

.btn-black {
  --bg-btn: var(--black);
  --txt-btn: var(--white);
}

.btn-white {
  --bg-btn: var(--white);
  --txt-btn: var(--black);
}

.btn-blue {
  --bg-btn: var(--blue);
  --txt-btn: var(--txt-r);
}

.btn-red {
  --bg-btn: var(--red);
  --txt-btn: var(--txt);
}

.btn-green {
  --bg-btn: var(--green);
  --txt-btn: var(--black);
}

.btn-orange {
  --bg-btn: var(--orange);
  --txt-btn: var(--black);
}

.btn-yellow {
  --bg-btn: var(--yellow);
  --txt-btn: var(--black);
}

/* ----------- Grid columns and row ----------- */
.grid {
    flex-wrap: wrap;
}

.row,
.grid {
    display: flex;
    align-items: stretch;
    margin: 1rem 0 0 0;
}

.row>[class*="col"],
.row>div,
.grid>[class*="col"],
.grid>div {
    flex: 0 0 auto;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding: .5rem;
}

.row>[class*="col"]>*,
.row>div>*,
.grid>[class*="col"]>*,
.grid>div>* {
    margin: 0;
}

.row .col,
.row>div,
.grid .col,
.grid>div {
    flex: 1 1 100%;
}

@media (max-width: 40em) {

    .row:not(.keep-width)>[class*="col"],
    .row:not(.keep-width)>div,
    .grid:not(.keep-width)>[class*="col"],
    .grid:not(.keep-width)>div {
        width: auto;
    }
}

/* ------------------- Input ------------------ */

input[type="color"] {
    -webkit-appearance: none;
    border: none;
    border-radius: var(--radius);
    width: 32px;
    height: 32px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: var(--radius);
}

textarea,
input:not([type=color]):not([type=range]):not([type=radio]):not([type=checkbox]),
select {
    display: block;
    color: var(--txt);
    background: var(--bg3);
    padding: .6rem;
    border-radius: var(--radius);
    width: 100%;
    border: 2px solid var(--bg3);
    caret-color: var(--primary);
    outline: none;
    height: 2.5rem;
}

fieldset {
    margin-top: 1rem;
    border-radius: var(--radius);
    border: 2px solid var(--border-c);
}

label {
    display: block;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

textarea:focus,
input:not([type=checkbox]):not([type=radio]):not([type=color]):not([type=range]):hover,
select:hover {
    border: 2px solid var(--primary) !important;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    input[type="range"] {
        -webkit-appearance: none;
        width: 100%;
        height: .8rem;
        border-radius: var(--radius);
        border: 2px solid var(--border-c);
        background: var(--bg3);
        outline: none;
        margin-top: .8rem;
    }

    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        transition: background 0.15s ease-in-out;
        -webkit-transition: background 0.15s ease-in-out;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background: var(--primary);
        cursor: pointer;
        transition: background 0.15s ease-in-out;
    }

    input[type="range"]:hover::-webkit-slider-thumb {
        box-shadow: 0 0 0 1px var(--bg2), 0 0 0 4px var(--primary);
    }

    input[type="range"]:hover::-moz-range-thumb {
        box-shadow: 0 0 0 1px var(--bg2), 0 0 0 4px var(--primary);
    }

    input[type="checkbox"],
    input[type="radio"] {
        height: 21px;
        outline: none;
        position: relative;
        -webkit-appearance: none;
        -moz-appearance: none;
        margin: 0;
        padding: 0;
        box-shadow: none;
        cursor: pointer;
        vertical-align: middle;
        top: -1px;
        height: 21px;
        border: 2px solid var(--border-c);
        background: var(--bg3);
        transition: background .3s ease, border-color .3s ease;
    }

    input[type="checkbox"]:after,
    input[type="radio"]:after {
        content: "";
        display: block;
        left: 0;
        top: 0;
        position: absolute;
        transition: transform .3s ease, opacity .2s ease, filter .3s ease;
    }

    input[type="checkbox"]:checked,
    input[type="radio"]:checked {
        background: var(--primary);
        border-color: var(--primary);
    }

    input[type="checkbox"]:checked:after,
    input[type="radio"]:checked:after {
        transition: opacity 0.3s ease, filter 0.3s ease, transform 0.6s cubic-bezier(0.175, 0.88, 0.32, 1.2);
    }

    input[type="checkbox"]:disabled,
    input[type="radio"]:disabled {
        opacity: .5;
        cursor: not-allowed;
    }

    input[type="checkbox"]:hover:not(:checked):not(:disabled),
    input[type="radio"]:hover:not(:checked):not(:disabled) {
        border-color: var(--primary);
    }

    input[type="checkbox"]:not(.toggle),
    input[type="radio"]:not(.toggle) {
        width: 21px;
    }

    input[type="checkbox"]:not(.toggle):after,
    input[type="radio"]:not(.toggle):after {
        opacity: 0;
    }

    input[type="checkbox"]:not(.toggle):checked:after,
    input[type="radio"]:not(.toggle):checked:after {
        opacity: 1;
    }

    input[type="checkbox"]:not(.toggle) {
        border-radius: var(--radius);
    }

    input[type="checkbox"]:not(.toggle):after {
        width: 5px;
        height: 9px;
        border: 2px solid var(--bg);
        border-top: 0;
        border-left: 0;
        left: 6px;
        top: 2px;
        transform: rotate(20deg);
    }

    input[type="checkbox"]:not(.toggle):checked:after {
        transform: rotate(43deg);
    }

    input[type="checkbox"].toggle {
        width: 39px;
        border-radius: 10px;
    }

    input[type="checkbox"].toggle:after {
        left: 2px;
        top: 1px;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background: var(--bg);
    }

    input[type="checkbox"].toggle:checked:after {
        background: var(--bg);
        transform: translateX(17px);
    }

    input[type="checkbox"].toggle:disabled:not(:checked):after {
        opacity: .6;
    }

    input[type="radio"] {
        border-radius: 50%;
    }

    input[type="radio"]:after {
        width: 19px;
        height: 19px;
        top: -1px;
        left: -1px;
        border-radius: 50%;
        background: var(--bg3);
        opacity: 0;
        transform: scale(0.7);
    }

    input[type="radio"]:checked:after {
        background: var(--bg);
        transform: scale(0.5);
    }
}

/* ------------------- Tabs ------------------- */
.tabs {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
}

.tabs>label {
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 0.7rem 1rem;

    background: var(--bg2);
    cursor: pointer;
    font-weight: bold;
    transition: background ease 0.2s;
}

.tabs>label[for="tb2-1"] {
    border-radius: var(--radius) 0 0 var(--radius);
}

.tabs>label[for="tb2-2"] {
    border-radius: 0 var(--radius) var(--radius) 0;
}

.tabs>div {
    width: 100%;
    display: none;
    order: 99;
    flex-grow: 1;
}

.tabs>input {
    display: none;
}

.tabs>input:checked+label {
    color: var(--txt-r);
    background: var(--primary);
}

.tabs>input:checked+label+div {
    display: block;
}

.duplet-grid {
    display: grid;
    grid-template-columns: repeat(var(--rv), 1fr);
    width: 100%;
    margin: auto;
    border-radius: 4px;
    background: var(--cl5);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
}

.duplet-grid>div>svg {
    height: 20px;
    fill: currentColor;
    margin: auto;
}

.duplet-grid>div {
    position: relative;
    text-decoration: none;
    float: left;
    margin: 6px;
    outline: 0;
    border: none;
    color: var(--cl6);
    border-radius: 8px;
    text-align: center;
    padding: 6px;
}

._mw-100{
    min-width: 100px;
}
/* ----------------- Utilities ---------------- */
._radius {
    border-radius: var(--radius);
}

._bg-primary {
    background: var(--primary);
    border-color: var(--primary);
}

._bg-green {
    background: var(--green);
    border-color: var(--green);
}

._bg-red {
    background: var(--red);
    border-color: var(--red);
}

._ta-center {
    text-align: center;
}

._cl2 {
    color: var(--txt-r);
}

._cl-red {
    color: var(--red);
}

._mt1 {
    margin-top: 1rem;
}

._g-flex {
    display: flex;
    gap: .5rem;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
}




body {
    --cl0: #0878A5;
    --cl1: #fff;
    --cl2: #0878A5;
    --cl3: #fff;
    --cl4: #101010;
    --cl5: #0878A5;
    --cl6: #fff;
}



#av {
    border: 2px solid var(--cl2);
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    min-height: 50px;
    width: 100%;
}

#av div,
#uv div,
.fly_btn {
    color: var(--cl3);
    height: 46px;
    width: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#av div>svg,
#uv div>svg ,.circle div>svg{
    height: 25px;
}

#sv {
    margin-top: .5rem;
}

#sv option,
#sv {
    color: var(--cl2);
    font-size: initial;
    font-weight: 700;
}

.av_ghost {
    background-color: var(--cl2) !important;
    filter: invert(100%);
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #ddd;
}

#uv,
#av,
.sw,
#uv::-webkit-scrollbar-track,
#uv::-webkit-scrollbar-thumb,
.sw::-webkit-scrollbar-track,
.sw::-webkit-scrollbar-thumb {
    border-radius: var(--radius);
}

#uv::-webkit-scrollbar {
    height: 20px !important;
}

#uv {
    border: 2px solid var(--cl2);
    padding-bottom: 25px;
    display: flex;
    min-height: 70px;
    gap: .5rem;
    flex-wrap: wrap;
    padding: .5rem;
    width: 100%;
}

#uv div,
.fly_btn {
    border-radius: 50%;
}


#pth1 {
    fill: var(--cl1);
}

hr {
    border: 2px solid var(--cl2);
}

.sw-wrapper {
    position: relative;
}

.sw {
    border: 2px var(--cl2) solid;
    height: 200px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.sw>div{
    display: flex;
    align-items: center;
}

.user-list {
    width: 100%;
}

#tbtb>tr>div {
    border: 2px solid var(--cl2);
    padding: .5rem;
    border-radius: var(--radius);
}

#tbtb label {
    display: inline-block;
    margin-left: 10px;
}


.lrt {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.lrt_cnt {
    background-color: var(--bg);
    border-radius: var(--radius);
    padding: .5rem;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
    width: 90%;
    max-width: 400px;
}

.lrt_body {
    padding: 1rem .5rem;
}

#lrt_fl .lrt_cnt {
    min-height: 64px;
}


body .show-lrt {
    overflow: hidden;
}

.show-lrt {
    opacity: 1;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity .25s 0s, transform .25s;
    visibility: visible;
}

.stt_cllb {
    float: left;
    line-height: 35px !important;
    width: calc(100% - 50px);
}

.stt_clfrt {
    background: transparent;
    border: 2px solid #000;
    border-radius: var(--radius);
    display: inline-block;
    height: 30px;
    position: relative;
    width: 30px;
}

#stt_cl0,
.fly_btn {
    background: var(--cl0);
}

#stt_cl1,
#lrt_fl .lrt_cnt {
    background: var(--cl1);
}

#stt_cl3 {
    background: var(--cl3);
}

#stt_cl4 {
    background: var(--cl4);
}

#stt_cl5 {
    background: var(--cl5);
}

#stt_cl6 {
    background: var(--cl6);
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover,
#stt_cl2,
#uv div,
#av div,
#av {
    background: var(--cl2);
}

#pth1 {
    fill: '+c[1]+' !important;
}

#fly div svg ,#fly_btn-r svg{
    height: 26px;
}

#fly {
    position: fixed;
    bottom: var(--bottom);
    left: var(--left);
    padding: 0 !important;
    width: 50px;
    margin: 0;
    height: 50px;
    z-index: 1000;
}

#fly_btn {
    position: absolute;
    z-index: 1000;
    height: 50px;
    width: 50px;
    background-color: var(--cl0) !important;
    color: var(--cl1) !important;
    border-radius: 50%;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fly_btn #svg1,
#fly.open #fly_btn svg:nth-child(2) {
    display: inline;
}

#ac4.fullscreen svg:nth-child(2),
#ac4 svg:nth-child(1) {
    display: inline;
}

#ac4.fullscreen svg:nth-child(1),
#ac4 svg:nth-child(2) {
    display: none;
}

#fly_btn svg:nth-child(2),
#fly.open #fly_btn #svg1 {
    display: none;
}

::-webkit-scrollbar {
    display: none;
}

.a_ib {
    position: absolute;
    overflow: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 5px;
    bottom: calc(100% + 10px);
    padding: 5px !important;
    left: calc(5px - var(--left));
    width: calc(100vw - 10px);
    min-height: 50px;
    opacity: 0;
    visibility: hidden;
    background-color: var(--cl4) !important;
    border-radius: 50px;
    box-shadow: 0px 5px 20px #101010;
    transition: all .3s ease-in-out;
}

.a_ib div {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    flex: 0 0 auto;
    height: 46px;
    padding: 0 !important;
    color: var(--cl3);
    background-color: var(--cl2) !important;
    border-radius: 50%;
    box-shadow: 0px 5px 20px rgb(0 0 0 / 15%);
}

#fly.open {
    width: calc(100vw - 10px);
}

#fly.open .a_ib {
    opacity: 1;
    visibility: visible;
}

#pth1 {
    fill: '+c[1]+' !important;
}

#fly div svg {
    height: 26px;
    color: '+c[3]+' !important
}

#fly-r {
    position: fixed;
    bottom: calc(-125px + var(--bottom) );
    left: calc(-125px + var(--left) );
    width: 300px;
    height: 300px;
    padding: 0 !important;
    margin: 0;
    z-index: 1000;
    pointer-events:none;
}
#mm_bg{
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 10000;
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.63);
    transition: all .5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
#mm_bg.show{
    visibility: visible;
    opacity: 1;
}

.circular-menu {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    position: relative;
    pointer-events:none;
}

.circle {
    width: 300px;
    height: 300px;
    opacity: 0;
    visibility: hidden;
    border-radius: 50%;
    background-color: var(--cl4) !important;
}

.open.circle {
    opacity: 1;
    visibility: visible !important;
    pointer-events:auto;
}

.circle div {
    text-decoration: none;
    background-color: var(--cl2) !important;
    color: var(--cl3) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 46px;
    width: 46px;
    margin-left: -23px;
    margin-top: -23px;
    position: absolute;
    text-align: center;
}

#fly_btn-r ,#mm_move{
    bottom: calc(50% - 25px);
    left: calc(50% - 25px);
    position: absolute;
    z-index: 1000;
    height: 50px;
    width: 50px;
    background-color: var(--cl0) !important;
    color: var(--cl1) !important;
    border-radius: 50%;
    box-shadow: 0 5px 20px rgb(0 0 0 / 15%);
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events:auto;
}
#mm_move{
    display: none;
    bottom: var(--bottom);
    left: var(--left);
    z-index: 1000001;
}
#mm_move>svg{
    height: 30px;
}

.f-preview{
    display: none;
}
.f-preview.show{
    display: block;
}

.chk{
    width: 100%;
}
._flex{
    display: flex;
    align-items: center;
    justify-content: center;
}