<footer class="_bg-primary">
    <div class="cnt _aos-bottom">
        <div class="grid _txt-white">
            <div>Using <b><a class="_txt-white" href="https://tabler.io/icons">Tabler Icons (MIT)</a></b> -
                <b><a class="_txt-white" href="https://simpleicons.org/">simpleicons (CC0-1.0</a>)</b> 
            </div>
            <div>
                This website use <b><a class="_txt-white" href="https://umami.is/" target="_blank">Umami</a></b> for
                privacy-focused analytics
            </div>
            <div>
                Designed and built with &#9829; by <b><a class="_txt-white" href="https://d3ward.github.io">Ursu Eduard
                        (d3ward)</a></b> © <%= new Date().getFullYear() %>
            </div>
            <div>
                Licensed under <b><a class="_txt-white"
                        href="https://creativecommons.org/licenses/by-nc-sa/4.0/">[NC-SA-4.0]</a></b>
            </div>
        </div>
    </div>
</footer>