// --------------------------------------------------
// Variables
// --------------------------------------------------
@import colors
// Typography
$line-height-base: 1.5 !default
$font-size-base: 1rem !default

$sizes: ( "0": 0,"05": 0.5rem,"1": 1rem,"2": 2rem,"3": 3rem,"4": 4rem,"5": 5rem)

// Grid
$grid-columns: 12 !default
$grid-gap: .5rem !default
$grid-gutter: 1.5rem !default

// Button
$btn-border-width: 2px !default
$btn-border-radius: .5rem !default
$btn-font-size: $font-size-base !default
$btn-line-height: $line-height-base !default